html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: 'aSandeulbaram';
  src: url('../assets/fonts/aSandeulbaram.ttf');
}

body {
  font-family: 'aSandeulbaram', 'Nanum Gothic', '맑은 고딕', 'Noto Sans KR', 'Apple SD Gothic', 'sans-serif';
  background-color: white;
}

#container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh auto;
}

#logo {
  width: 50%;
  margin-bottom: 60px;
}

#main-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}

#main-desc > h1 {
  font-size: 5rem;
}

#main-desc > h2 {
  font-size: 3rem;
}

#main-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-ver {
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  padding: 12px 15px;
  border-radius: 20px 20px 0 0;
}

#main-link {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  border-top: solid 1px #000;
}

#main-link a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: solid 2px #e4e4e4;
  border-radius: 40%;
  box-shadow: 10px 10px 10px #0001;
}

#main-link img {
  max-width: 100%;
  max-height: 100%;
}

#logo-ps {
  margin-left: 5px;
}

#logo-as {
  margin-top: -5px;
}