html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: 'aSandeulbaram';
  src: url('../assets/fonts/aSandeulbaram.ttf');
}

body {
  font-family: 'aSandeulbaram', 'Nanum Gothic', '맑은 고딕', 'Noto Sans KR', 'Apple SD Gothic', 'sans-serif';
  background-color: white;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  --width: min(100vw, calc(100 * var(--vh, 1vh)), 1080px);
}

#container {
  width: var(--width);
  height: calc(80 * var(--vh, 1vh));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(10 * var(--vh, 1vh));
  padding: calc(5 * var(--vh, 1vh)) 0;
  margin: 0 auto;
}

#logo {
  width: calc(var(--width) * 0.5);
}

#main-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--width) * 0.03);
}

#main-desc > h1 {
  font-size: calc(var(--width) * 0.08);
}

#main-desc > h2 {
  font-size: calc(var(--width) * 0.04);
}

#main-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-ver {
  background-color: #000;
  color: #fff;
  font-size: calc(var(--width) * 0.02);
  padding: calc(var(--width) * 0.015);
  padding-bottom: calc(var(--width) * 0.01);
  border-radius: calc(var(--width) * 0.02);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#main-link {
  display: flex;
  gap: calc(var(--width) * 0.03);
  padding-top: calc(var(--width) * 0.02);
  border-top: solid 1px #000;
}

#main-link a {
  width: calc(var(--width) * 0.055);
  height: calc(var(--width) * 0.055);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--width) * 0.025);
  border: solid 2px #e4e4e4;
  border-radius: 40%;
  box-shadow: 10px 10px 10px #0001;
}

#main-link img {
  max-width: 100%;
  max-height: 100%;
}

#logo-ps {
  margin-left: calc(var(--width) * 0.005);
}

#logo-as {
  margin-top: calc(var(--width) * -0.005);
}