html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Nanum Gothic', '맑은 고딕', 'Noto Sans KR', 'Apple SD Gothic', 'sans-serif';
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 1080px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh;
  margin: 0 auto;
  padding: 50px 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#title {
  height: 5vh;
}

#testflight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
}

#logo-testflight {
  height: 12vh;
}

#text-testflight {
  height: 8vh;
}

#arrow-down {
  height: 6vh;
}

#invitation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
}

#logo-invitation {
  height: 12vh;
}

#text-invitation {
  height: 8vh;
}

#end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
}

#text-end {
  height: 4vh;
}

#text-manual {
  height: 4vh;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px 50px;
  padding: 20px 0;
  margin-top: auto;
}

footer * {
  color: #bbb;
  font-size: 0.5rem;
}

#terms-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px 50px;
}

.terms {
  white-space: nowrap;
}